* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  background: rgb(253, 234, 201);
  background: rgb(29, 29, 29);
}

#game-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 10px;
  left: 580px;
  width: 250px;
}

#keyboard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: -100px;
  left: 375px;
  width: 640px;
}

.score {
  text-align: center;
  font-size: 25px;
  color: rgb(146, 62, 223);
  position: fixed;
  top: 215px;
  right: 287px;
}

#score-number {
  font-size: 85px;
}

.timer {
  text-align: center;
  font-size: 25px;
  color: rgb(207, 83, 122);
  position: fixed;
  left: 230px;
  top: 215px;
}

#timer-number {
  font-size: 85px;
}

.instructions {
  text-align: center;
  position: fixed;
  top: 130px;
  left: 553px;
  font-family: Agdasima;
  color: rgb(126, 234, 251);
  font-size: 20px;
}

#playerInput {
  position: fixed;
  top: 430px;
  left: 595px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

#start-button {
  position: fixed;
  top: 485px;
  left: 656px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

#round2-button {
  position: fixed;
  top: 485px;
  left: 647px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

#round3-button {
  position: fixed;
  top: 485px;
  left: 647px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  justify-content: center;
  position: fixed;
  top: 170px;
  left: 370px;
  margin: auto;
  width: 45%;
}

.element {
  border-style: solid;
  border-width: 0.5px;
  font-family: Agdasima;
  font-size: 22px;
  color: white;
  text-align: center;
  height: 60px;
  position: relative;
  padding: 20px;
}
